@import "tailwindcss";
@import "@nuxt/ui";

/* @custom-variant dark (&:where(.dark, .dark *)); */
@custom-variant dark (*);

@theme inline {
  --animate-glow: glow var(--duration) infinite linear;
  @keyframes glow {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }
}